<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/home.css}">
</head>
<body>
<h1 align = 'center'>Pixar Event</h1>
<p align = 'center'><a href="/add"><button class="button button2">Add Ticket</button></a></p>
<p align = 'center'><a href="/viewPage"><button class="button button2">View Ticket</button></a><p align = 'center'>
<p align = 'center'><a href="/stats"><button class="button button2">Show Stats</button></a><p align = 'center'>
</body>
</html>